<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://code.alibabatech.com/schema/dubbo  
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd  
        ">  
  
<!--     <bean id="demoService" class="com.unj.dubbotest.provider.impl.DemoServiceImpl" />   -->
  
    <dubbo:application name="product-business" />  
  
    <dubbo:registry address="${dubbo.registry.address}" />  
  
<!--     <dubbo:protocol name="dubbo" port="20001" />   -->
  
<!--     <dubbo:service interface="	com.zcbspay.platform.business.merch.service.QueryMerchMkService" ref="demoService" />   -->

	<dubbo:reference id="queryMerchMkService" timeout="1200000" interface="com.zcbspay.platform.business.merch.service.QueryMerchMkService" check="false" version="1.0"/>
  	<dubbo:reference id="remoteOrderService" timeout="1200000" interface="com.zcbspay.platform.business.order.service.OrderService" check="false" version="1.0"/>
  	<dubbo:reference id="quickPayService" timeout="1200000" interface="com.zcbspay.platform.business.pay.service.QuickPayService" check="false" version="1.0"/>
</beans>  